<div class="about-container" id="about-one">
	<div class="nav-container">
		<a class="nav-link" id="jclogo" class="jclogo"><%= image_tag "jclogo.png", alt: "logo", class: "jclogo"%></a>
		<div id="logo-bg" class="logo-bg">
			<button class="close-bg" id="close-bg">&times</button>
			<div class="bio-image"><%= image_tag "sayhello.png", alt: "justin cefai"%></div>
			<div class="bio-box">
				<h1 class="bio-text">
				Want to build some things together?  Me too! <br /><br />  Connect with me on <a target="_blank" style="text-decoration: none; color: #15ad93;" rel="noopener noreferrer" aria-label="linkedin" href="https://www.linkedin.com/in/justin-cefai/">LinkedIn</a>, or email me<a aria-label="email" style="text-decoration: none; color: #15ad93;" href="mailto:hello@justincefai.co"> here</a>.
				</h1>.
			</div>
		</div>
			<nav class="nav">
				<ul>		
					<li><a aria-label="web applications" href="#web-apps">Skills & Projects</a></li>
					<li><a aria-label="medium blog" href="#blog">Blog</a></li>
					<li><a aria-label="certificates" href="#certificates">Certificates</a></li>
					<li><a aria-label="contact info" href="#contact">Contact</a></li>
				</ul>	
			</nav>	
</div>		

	<div class="about-left">{ scroll down }</div>

	<div class="about-right"></div>

	<br class="clear" />
	<div class="about-top">
	
		<div class="typebox" style="min-height: 119px;">
			<div id="typed-strings">
				<h3 class="type-active" style="line-height: 1.9em;">Hi,<br/>  I'm Justin Cefai.<br/> A Front End Software Engineer <br/> living in Los Angeles, CA.</h3>
		</div> 
			<span id="typed"></span>	
		</div>
	</div>

<div class="footer">
  <div class="social-links1">
		<ul>
				<li><a target="_blank" rel="noopener noreferrer" aria-label="github" href="https://github.com/cefaijustin"><i class="fab fa-github-square links"></a></i></li>

				<li><a target="_blank" rel="noopener noreferrer" aria-label="linkedin" href="https://www.linkedin.com/in/justin-cefai/"><i class="fab fa-linkedin links"></i></a></li>

				<li><a target="_blank" rel="noopener noreferrer" aria-label="medium blog" href="https://medium.com/@cefaijustin"><i class="fab fa-medium links"></i></a></li>

				<li><a target="_blank" rel="noopener noreferrer" aria-label="instagram" href="https://www.instagram.com/justincefai/?hl=en"><i class="fab fa-instagram links"></i></a></li>
			</ul>	
			<div class="made-by">
				<p>© justin cefai | 2018</p>
			</div>
		</div>
	</div>	
</div>	

<script>
var typed = new Typed("#typed", {
  stringsElement: "#typed-strings",
  startDelay: 1000,
  typeSpeed: 30,
  backSpeed: 20
});
document.querySelectorAll(".typed-cursor")[0].style.display = "none";
</script>