<div class="background-blog" id="blog">

	<h3 class="title">{ things I've written }</h3>

		<div class="blog-box">

			<div class="box grid" style="border: 2px solid black;">
      <figure class="effect-slidedown">
        <%= image_tag "medium-array.png", class: "full-width-blog" %>
        <figcaption>
          <h2>Arrays &<br><span>Strings</span></h2>
          <p>Find the sum of an array of strings and numbers.
          </p>
          <a href="https://medium.com/@cefaijustin/array-of-strings-and-numbers-find-the-sum-8781404b5820" class="button">
			View</a>
        </figcaption>     
      </figure>
    </div>

    <br class="br-blog" />
		<br class="clear" />

		<div class="box grid" style="border: 2px solid black;">
      <figure class="effect-slidedown">
        <%= image_tag "medium-git.png", class: "full-width-blog" %>
        <figcaption>
          <h2>Github<br><span>Workflow</span></h2>
          <p>Getting started, going solo, & teamwork with Github.
          </p>
          <a href="https://medium.com/@cefaijustin/git-workflow-1a67e73d3b23" class="button">
			View</a>
        </figcaption>     
      </figure>
    </div>

    <br class="br-blog" />
		<br class="clear" />

		<div class="box grid" style="border: 2px solid black;">
      <figure class="effect-slidedown">
        <%= image_tag "medium-caesar.png", class: "full-width-blog" %>
        <figcaption>
          <h2>Caesar<br><span>Cipher</span></h2>
          <p>Deciphering the Caesar Cipher Encryption Algorithm in JavaScript.
          </p>
          <a href="https://medium.com/@cefaijustin/caesar-cipher-algorithm-e387736eda9e" class="button">
			View</a>
        </figcaption>     
      </figure>
    </div>

    <br class="br-blog" />
    <br class="clear" />

    <div class="box grid" style="border: 2px solid black;">
      <figure class="effect-slidedown">
        <%= image_tag "medium-firehose.png", class: "full-width-blog" %>
        <figcaption>
          <h2>Firehose<br><span>Project</span></h2>
          <p>Projects and algorithms.
          </p>
          <a href="https://medium.com/@cefaijustin/thanks-firehose-9cadfeb21f3b" class="button">
      View</a>
        </figcaption>     
      </figure>
    </div>

</div>
