<div class="background-blog" id="blog">

  <div class="title-box-blog">
    <h3 class="h3-web">blog</h3>
    <h4 class="h4-web">some things I&#39ve written</h4>
  </div>

  <div class="blog-container">
    <div class="blog-box">
      <div class="blog-box-right">
        <a target="_blank" rel="noopener noreferrer" href="https://medium.com/@cefaijustin">
          <%= image_tag "foods.jpg", alt: "blog", class: "full-width-blog" %>
        </a>
        <h4 class="h4-subtitle-blog">Click for more breakfast tacos and algorithms</h4>
      </div>
    </div>
  </div>
</div>