<div class="background-certs" id="certificates">  
  <div class="title-box">
    <h3 class="h3-web">{ certificates }</h3>
    <h4 class="h4-web">I enjoy learning</h4>
  </div>    
  <div class="cert-container">
    <div class="box1 grid-sub">
        <%= image_tag "firehose.jpg", class: "full-width-web" %>
    </div>
    <h4 class="h4-subtitle">Software Engineering Bootcamp</h4>
    <%# <p>1000+ hours of Computer Science and Web Development</p> %>
  </div>

  <div class="cert-container">
    <div class="box1 grid-sub">
      <%= image_tag "udemy-js.jpg", class: "full-width-web" %>
    </div>
    <h4 class="h4-subtitle">JavaScript: The Weird Parts</h4>
    <%# <p>In-depth course covering the intricacies of JavaScript</p> %>
  </div>

    <br class="clear" />

    <div class="cert-container">
      <div class="box1 grid-sub">
        <%= image_tag "udemy-algos.jpg", class: "full-width-web" %>
      </div>
      <h4 class="h4-subtitle">Algorithms + Data Structures</h4>
      <%# <p>13 in-depth hours of algorithms and data structures in JavaScript</p> %>
    </div>

    <div class="cert-container">
      <div class="box1 grid-sub">
        <%= image_tag "udemy-shopify.jpg", class: "full-width-web" %>
      </div>
      <h4 class="h4-subtitle">Shopify Themes From Scratch</h4>
      <%# <p>Build Shopify themes from scratch using the Liquid template language</p> %>
    </div>
    <div class="bottom-line"></div>
  </div>  