<div class="background-certs" id="certificates">  
  <div class="title-box">
    <h3 class="h3-web">{ certificates }</h3>
    <h4 class="h4-web">I enjoy learning</h4>
  </div>    
  <div class="cert-container">
    <div class="box1 grid-sub">
        <%= image_tag "firehose.jpg", class: "full-width-web" %>
    </div>
    <h4 class="h4-subtitle">Software Engineering Bootcamp</h4>
    <p class="cert-subtitle">Dec. 2017 - Oct. 2018</p> 
  </div>

  <div class="cert-container">
    <div class="box1 grid-sub">
      <%= image_tag "udemy-js.jpg", class: "full-width-web" %>
    </div>
    <h4 class="h4-subtitle">JavaScript: The Weird Parts</h4>
    <p class="cert-subtitle">Nov. 2018</p> 
  </div>

    <br class="clear" />

    <div class="cert-container">
      <div class="box1 grid-sub">
        <%= image_tag "udemy-algos.jpg", class: "full-width-web" %>
      </div>
      <h4 class="h4-subtitle">Algorithms + Data Structures</h4>
      <p class="cert-subtitle">Dec. 2018</p> 
    </div>

    <div class="cert-container">
      <div class="box1 grid-sub">
        <%= image_tag "udemy-shopify.jpg", class: "full-width-web" %>
      </div>
      <h4 class="h4-subtitle">Shopify Themes From Scratch</h4>
      <p class="cert-subtitle">Feb. 2019</p> 
    </div>
    <div class="bottom-line"></div>
  </div>  