<div class="background-certs" id="certificates">  
  <div class="title-box">
    <h3 class="h3-web">{ certificates }</h3>
    <h4 class="h4-web">I enjoy learning</h4>
  </div>    

  <div class="cert-container-1">
    <div class="box1 grid-sub">
      <%= image_tag "firehose.jpg", alt: "firehose bootcamp", class: "full-width-cert"%>
    </div>
    <h4 class="h4-subtitle">software engineering bootcamp</h4>
    <p class="cert-subtitle">Dec. 2017 - Oct. 2018</p> 
  </div>

  <div class="cert-container-1">
      <div class="box1 grid-sub">
        <%= image_tag "udemy-js-compressor.jpg", alt: "udemy javascript", class: "full-width-cert" %>
      </div>
    <h4 class="h4-subtitle">JavaScript: the weird parts</h4>
    <p class="cert-subtitle">Nov. 2018</p> 
  </div>

  <br class="clear" />

  <div class="cert-container-2">
      <div class="box1 grid-sub">
        <%= image_tag "udemy-algos-compressor.jpg", alt: "udemy algorithms", class: "full-width-cert" %>
      </div>
    <h4 class="h4-subtitle">algorithms + data structures</h4>
    <p class="cert-subtitle">Dec. 2018</p> 
  </div>

  <div class="cert-container-2">
      <div class="box1 grid-sub">
        <%= image_tag "udemy-shopify-compressor.jpg", alt: "udemy shopify", class: "full-width-cert"%>
      </div>
    <h4 class="h4-subtitle">shopify themes from scratch</h4>
    <p class="cert-subtitle">Feb. 2019</p> 
  </div>

  <div class="bottom-line"></div>
</div>  

