<div class="background-contact"  id="contact">	
	<a href="#about-one" class="to-top"></a>
	<div class="contact-logo">
		<a class="nav-link"><%= image_tag "jclogow.png", class: "jclogo"%></a>
	</div>

	<div class="say-hi">
	<label class="btn btn--blue" for="modal-2">
		<h1 class="say-hi-l">{ Say &nbsp;</h1>
		<h1 class="say-hi-r">&nbsp; Hello }</h1>
		</label>
		
			<input class="modal-state" id="modal-2" type="checkbox" />
			<div class="modal">
			  <label class="modal__bg" for="modal-2"></label>
			  <div class="modal__inner-contact">
			    <label class="modal__close" for="modal-2"></label>
			    <p class="modal-inner-text">Currently entertaining new opportunities. <br/><br/> Let&#39s talk!</p>
			    <%= image_tag "arrow-down.svg", class: "arrow bounce" %>
			    <br />
			    <a href="mailto:hello@justincefai.co"><div><%= image_tag "letter.svg", class: "letter" %></div></a>
			  </div>
			</div>
	</div>
</div>	