<div class="background-contact"  id="contact">	
	
	<div class="contact-logo">
		<a class="nav-link"><%= image_tag "jclogow.png", class: "jclogo"%></a>
	</div>

	<div class="say-hello">
			
				<div>
			  <p>
			    <label class="btn btn--blue" for="modal-2"><%= image_tag "sayhello.png", class: "full-width-contact" %></label>
			  </p>
			</div>

			<input class="modal-state" id="modal-2" type="checkbox" />
			<div class="modal">
			  <label class="modal__bg" for="modal-2"></label>
			  <div class="modal__inner">
			    <label class="modal__close" for="modal-2"></label>
			    <p>Currently entertaining new opportunities.</p>
			    <p>Let's talk!</p>
			    <%= image_tag "arrow-down.svg", class: "arrow bounce" %>
			    <br />
			    <a href="mailto:hello@justincefai.co"><div><%= image_tag "letter.svg", class: "letter" %></div></a>
			  </div>
			</div>
		  
	</div>
	
</div>	
