<div class="background-contact"  id="contact">	
	<hr class="hr-contact"/>
	<div>
		<div class="contact-box">
			<h4 class="h4-web">Interested in working together?</h4>
			<h4 class="h4-web">Connect with me on <a target="_blank" style="text-decoration: none; color: #15ad93;" rel="noopener noreferrer" aria-label="linkedin" href="https://www.linkedin.com/in/justin-cefai/">LinkedIn</a>, or email me<a aria-label="email" style="text-decoration: none; color: #15ad93;" href="mailto:hello@justincefai.co"> here</a>.</h4>
		<div>	
	</div>
	
</div>	