<div class="background-skills"  id="tools">

	<div class="tools-header">
	  <h3>{ skills }</h3>

    </div>
    

          
            <div id="SkillBox">
            <div class="SkillBar">
                <div id="Skill-HTML"> 
                <span class="Skill-Area ">HTML</span>
                </div>
            </div>
            
            <div class="SkillBar">
                <div id="Skill-CSS">
                <span class="Skill-Area ">CSS</span>
                </div>
            </div>
            
            
            


</div>