.background-blog {
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;
  padding-top: 10px;
  margin-top: -100px;
}

.hr-blog {
  color: black;
  margin-top: 100px;
  size: 3px solid;
  width: 380px;
  top: 45%;
  left: 50%;
  animation: line 0.5s linear forwards;
}

.title-box {
  width: 100%;
  margin: 80px auto;
}

.br-blog {
  margin-bottom: 15px;
}

.h4-subtitle {
  font-weight: lighter;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.blog-box {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.blog-caption {
  margin-right: auto;
  margin-left: auto;
  width: 42.5%;
  height: auto;
  margin-top: 60px;
}

.blog-link {
  opacity: 1;
  margin-right: auto;
  margin-left: auto;
  width: 42.5%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.clear {
  clear: both;
}

.full-width-blog {
  width: 100%;
}

body {
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 0.1em;
}

h1 {
  color: black;
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 0;
}

h2 {
  color: black;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
}

h3 {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  margin-top: 100px;
  padding-bottom: 40px;
}

h4 {
  text-align: center;
  font-size: 24px;
}

p {
  text-align: center;
}

@media (min-width: 250px) and (max-width: 800px) {
  .background-blog {
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: auto !important;
    padding-top: 30px;
  }

  .h4-subtitle {
    font-weight: lighter;
    font-size: 18px;
    margin-top: -5px;
    margin-bottom: 0px;
  }

  .hr-blog {
    width: 80%;
  }

  .grid {
    width: 80% !important;
    margin-bottom: 5% !important;
    height: auto !important;
  }

  .background-blog h3 {
    font-size: 55px;
  }

  body {
    font-family: "Fjalla One", sans-serif;
    letter-spacing: none;
    font-weight: lighter;
  }
}
