
.background-blog {
	background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

.hr-blog {
	color: black;
  size: 3px solid;
  width: 250px;
  top:45%;
  left:50%;
  width:0%;
  animation: line 0.5s linear forwards;
}

.br-blog {
	margin-bottom: 15px;
}

.blog-box {
	display: block;
	width: 100%;
	margin-bottom: 150px;

}

.blog-caption {
	margin-right:auto;
  margin-left:auto;
	width: 42.5%;
	margin-top: 60px;
}

.blog-link {
	opacity: 1;
  margin-right:auto;
  margin-left:auto;
	width: 40%;
	margin-top: 20px;
	margin-bottom: 20px;

}

.clear {
	clear: both;
}

.full-width-blog {
	width: 100%;
}

body {	
  font-family: 'Raleway', sans-serif;
  margin: 0;
	}

h1 {
	color: black;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0;
}


h2 {
	color: black;
	font-size: 18px;
	font-weight: normal;
	margin-top: 0;
}

h3 {
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
	margin-top: 100px;
	padding-bottom: 40px;
}


h4 {
	text-align: center;
	font-size: 24px;
}

p {
	text-align: center;
}




