.background-contact {
  background-color: black;
  position: relative;
  z-index: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-content: center;
  width: 100% !important;
  height: 100vh;
}

.say-hi {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 45%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.say-hi-l {
  float: none;
  color: #fff;
  font-size: 110px;
  margin-bottom: -8%;
  -webkit-transform: translate(-520px, 0);
  transform: translate(-520px, 0);
  transition: all 0.5s;
}

.say-hi-r {
  float: none;
  color: #fff;
  min-width: 400px;
  font-size: 110px;
  -webkit-transform: translate(520px, 0);
  transform: translate(520px, 0);
  transition: all 0.5s;
}

.say-hi-l.visible {
  transform: translate(0, 0);
}

.say-hi-r.visible {
  transform: translate(0, 0);
}

// .video {
//   position: fixed;
//   background-size: cover;
//   top: 50%;
//   left: 50%;
//   z-index: -1;
//   min-width: 100%;
//   min-height: 100%;
//   width: auto;
//   height: auto;
//   transform: translate(-50%, -50%);
// }

.contact-logo {
  float: left;
  margin-top: -15px;
  margin-left: 0px;
}

.thanks {
  width: 80%;
  margin-bottom: 30px;
  display: inline-block;
}

.thanks p {
  font-weight: lighter;
  font-size: 20px;
  color: white;
  float: none;
  text-align: center;
}

.to-top {
  color: white;
  padding-top: 1.8em;
  display: block;
  border-color: white;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.to-top:before {
  top: 40px;
  right: 60px;
  content: "▲";
  font-size: 0.9em;
  position: absolute;
  margin-left: -0.7em;
  border: solid 0.13em white;
  border-radius: 10em;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.3em;
  border-color: inherit;
  transition: transform 0.5s ease-in;
}
.to-top:hover {
  color: #228fe8;
  border-color: #228fe8;
}
.to-top:hover:before {
  transform: rotate(360deg);
}

.letter {
  padding-top: 35px;
  display: block;
  width: 50px;
  height: 50px;
  margin: auto;
  font-weight: normal;
}

.letter:hover {
  text-shadow: 1px 1px 1px #228fe8;
}

.full-width-contact {
  width: 100%;
  padding: 0;
  margin: 8px 6px 6px 6px;
}

/*

MODAL BELOW

*/

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity 0.25s ease;
}

.modal-inner-text {
  font-size: 20px;
  color: black !important;
  margin-top: 80px;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner-contact {
  transition: top 0.25s ease;
  position: absolute;
  top: 0%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 390px;
  max-width: 400px;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .modal__inner {
    width: 90%;
    height: 45%;
    box-sizing: border-box;
  }
}

/* Other
 * =============================== */
body {
  text-align: center;
}

.btn {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  cursor: pointer;
  background: black;
  display: inline-block;
  padding: none;
  color: #fff;
  border-radius: 2px;
  transition: all ease-in-out 100ms;
}

.btn:hover,
.btn:focus {
  background: black;
}

.btn:active {
  background: black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

.btn--blue {
  background: black;
  height: auto;
  transition: all ease-in-out 150ms;
}

.btn--blue:active {
  background: black;
}

p img {
  max-width: 200px;
  height: 30px;
  float: left;
  margin: 0 1em 1em 0;
}

/*

====================================================

*/

.social-links {
  position: relative;
  margin: 0 auto;
  display: table;
  padding-bottom: 20px;
  padding-top: 110px;
}

.social-links ul {
  list-style: none;
  text-decoration: none;
}

.social-links li {
  float: left;
  padding-right: 40px;
  margin-right: 5px;
}

.social-links a {
  font-size: 24px;
  color: #1172c1;
  font-weight: normal;
}

.social-links a:hover {
  color: #228fe8;
}

.arrow {
  position: relative;
  bottom: -2rem;
  left: 50%;
  margin-left: -20px;
  width: 38px;
  height: 38px;
  background-size: contain;
}

.bounce {
  animation: bounce 1.8s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(-25px);
  }
}

@media (min-width: 250px) and (max-width: 900px) {
  .background-contact {
    width: 100%;
    height: 100vh !important;
  }

  .full-width-contact {
    width: 100%;
  }

  .to-top:before {
    top: 40px;
    right: 35px;
    content: "▲";
    font-size: 0.9em;
    position: absolute;
    margin-left: -0.7em;
    border: solid 0.13em white;
    border-radius: 10em;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.3em;
    border-color: inherit;
    transition: transform 0.5s ease-in;
  }

  .say-hello {
    margin-top: 0px;
    margin-left: -13%;
    background-color: black;
  }

  .say-hi {
    width: 80%;
    align-content: center;
  }

  .say-hi-l {
    position: relative;
    display: inline-block;
    font-size: 60px;
  }

  .say-hi-r {
    position: relative;
    display: inline-block;
    font-size: 60px;
    min-width: 100px;
  }
}
